In [1]:
s = 0

for i in range(1,11):
    s += i

print(f"summan 1+2+...+9+10 = {s}")

summan 1+2+...+9+10 = 55

In [4]:
s = 1

for i in range(1,10,2):
    s = s* i

print(s)

945

In [9]:
#skriv ut 50 - 100
for i in range(50,100):
    print(i, end=" ")

50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [14]:
# skriv ett tal 100 till 50
for j in range(50,101):
    print(150-j, end=" ")

-200 -201 -202 -203 -204 -205 -206 -207 -208 -209 -210 -211 -212 -213 -214 -215 -216 -217 -218 -219 -220 -221 -222 -223 -224 -225 -226 -227 -228 -229 -230 -231 -232 -233 -234 -235 -236 -237 -238 -239 -240 -241 -242 -243 -244 -245 -246 -247 -248 -249 -250

In [ ]:
s = 0